.container {
  perspective: 800px;
  perspective-origin: 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.beam {
  position: relative;
  width: 50px; /* Width of the beam */
  height: 200px; /* Height of the beam */
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
  background-color: 	#ffffff; /* Beam color */
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.front {
  background-color: 	#7E8274; /* Same color as the beam */
}

.back {
  display: none; /* Hide the back face */
}

.left {
  background-color: 	#7E8274; /* Same color as the beam */
  transform: rotateY(-90deg) translateX(50%);
}

.right {
  background-color: 	#7E8274; /* Same color as the beam */
  transform: rotateY(90deg) translateX(-50%);
}

.top {
  background-color: 	#7E8274; /* Same color as the beam */
  transform: translateY(-50%) rotateX(90deg);
}

.bottom {
  background-color: 	#7E8274; /* Same color as the beam */
  transform: translateY(50%) rotateX(-90deg);
}
/* for a straight crack line */
/*  .crack {
  position: absolute;
  width: 4px;
  height: 100px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
} */

/*for a slant crack line */
.crack {
position: absolute;
width: 4px;
height: 70px;
top: 10px;
left: 50%;
transform: translateX(-50%) rotate(45deg); /* Adjust the rotation angle as needed */
background-color: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d63636;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  text-align: center;
  flex-grow: 1; /* This will make the text take up the remaining space */
}

.social-links {
  display: flex;
}

.social-links a {
  margin-left: 10px;
  font-size: 40px;
  color: black;
}

.social-links a:first-child {
  margin-left: 0;
}
